<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kaleidoscope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ContentDB" connectionString="Data Source=.\DB\content.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <Kaleidoscope.Properties.Settings>
      <setting name="MainTaskStatus" serializeAs="String">
        <value>Running</value>
      </setting>
      <setting name="MainWindowStartupLocation" serializeAs="String">
        <value>CenterScreen</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedValueRows" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SelectedValueColumns" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SelectedValueFillTypes" serializeAs="String">
        <value>Все</value>
      </setting>
      <setting name="SelectedTimerInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AppImage" serializeAs="String">
        <value>/Kaleidoscope;component/Resourses/Kaleidoscope.ico</value>
      </setting>
      <setting name="IsDark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppPalettePrimaryName" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="AppPaletteAccentName" serializeAs="String">
        <value>lightblue</value>
      </setting>
      <setting name="Localization" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="SelectedIndexFillTypes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ButtonTestVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="ContentFoldersImageSelectedWidthItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ContentMainImageSelectedWidthItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ContentCatalogsImageSelectedWidthItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ContentFoldersImageSelectedHeightItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ContentMainImageSelectedHeightItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ContentCatalogsImageSelectedHeightItem" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyMainImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyMainVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyFoldersImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyFoldersVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyCatalogImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyCatalogVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RatioMainImageChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioMainVideoChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioFoldersImageChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioFoldersVideoChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioCatalogImageChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioCatalogVideoChangeSizeProportionally" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsEnableRefreshContentFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnableRefreshContentCatalogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NormalizedSizeImageMainIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NormalizedSizeImageFoldersIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NormalizedSizeImageCatalogsIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizePageImageLoadMainIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizePageImageLoadFoldersIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizePageImageLoadCatalogsIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsKindContentMain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsKindContentFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsKindContentCatalogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContentMainVideoSelectedWidthItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ContentFoldersVideoSelectedWidthItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ContentCatalogsVideoSelectedWidthItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ContentMainVideoSelectedHeightItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ContentFoldersVideoSelectedHeightItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ContentCatalogsVideoSelectedHeightItem" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SizePageVideoLoadMainIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizePageVideoLoadFoldersIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizePageVideoLoadCatalogsIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsModeShowMainImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModeShowFoldersImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModeShowCatalogsImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModeShowMainVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModeShowFoldersVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsModeShowCatalogsVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContentMainImageOneToListSelectedWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentFoldersImageOneToListSelectedWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentCatalogImageOneToListSelectedWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentMainImageOneToListSelectedHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentFoldersImageOneToListSelectedHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentCatalogImageOneToListSelectedHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyMainOneToListImage"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyFoldersOneToListImage"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyCatalogOneToListImage"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyMainOneToListVideo"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyFoldersOneToListVideo"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsChangeSizeItemSeparatelyCatalogOneToListVideo"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RatioMainImageOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioFoldersImageOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioCatalogsImageOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioMainVideoOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioFoldersVideoOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RatioCatalogsVideoOneToListChangeSizeProportionally"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ContentMainVideoOneToListSelectedWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ContentMainVideoOneToListSelectedHeight" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ContentFoldersVideoOneToListSelectedWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentFoldersVideoOneToListSelectedHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentCatalogsVideoOneToListSelectedWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ContentCatalogsVideoOneToListSelectedHeight" serializeAs="String">
        <value>800</value>
      </setting>
    </Kaleidoscope.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite"  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)"
           invariant="System.Data.SQLite.EF6"
           description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
           type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>